.nav-item {
  cursor: pointer
}

.nav-item :hover {
  cursor: pointer;
  width: 10vw;
  background: rgb(109, 216, 21) !important;
}
.selected-nav {
  background: rgb(109, 216, 21) !important;
  width: 10vw;
}